
<div style="display: flex; justify-content: center;">
  <mat-card appearance="outlined" style="max-width: 400px ;margin-top: 10px;" >
    <mat-card-header>
      <mat-card-title>Inicio</mat-card-title>
      <mat-card-subtitle>
       Venha conhecer mais...
      </mat-card-subtitle>
    </mat-card-header>
   
  
    <mat-card-content>
      Somos uma equipe de programadores focados em melhorar a experiências de administração dos alunos por meio das novas tecnologias.
      Estamos há mais de 10 anos no mercado e, nesse meio tempo, conseguimos conquistar inúmeros clientes satisfeitos com nossos produtos e serviços.
    </mat-card-content>
    <br>
    <mat-card-content>
      Somos ativos em diversos estados, como São Paulo, Rio de Janeiro, Bahia e entre vários outros.
      Nesses locais realizamos eventos voltados a alunos para a programação.
    </mat-card-content>
  
    <br>
  
  
    <mat-card-footer class="example-card-footer">
    
    <mat-card-content>
      Venha se juntar a nos!
  
    </mat-card-content>    
    <mat-card-actions>
      <button mat-raised-button (click)="onClick()">Cadastro
        <mat-icon>add</mat-icon>
      </button>
  
    </mat-card-actions>
    </mat-card-footer>
  
  </mat-card>
</div>

