
<div style="display: flex; justify-content: center;">

    <mat-card style="margin-top: 10px; max-width: 400px;">
        <mat-card-header>
          <mat-icon>error_outline</mat-icon>
          <mat-card-title>404 - Página Não Encontrada</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Desculpe, a página que você está procurando não existe.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="onclick()">Voltar para Home</button>
        </mat-card-actions>
      </mat-card>
</div>
  
  
  