#navbar {
  width: 100%;
  background: #111;
  color: #eee;
  height: 80px;
  position: fixed;
}

#navbar-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

#navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

#navbar-items li {
  padding: 10px;
}

/* Showcase */
#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  background: url('/Home/imgJ/thumbnail.jpg') no-repeat center center/cover;

  /* Overlay */
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: color;
}
body{
  height: 10%
}

.ativo {
  color: red !important;
}
