
<div style="display: flex; justify-content: center;">

  <mat-card style="max-width: 400px ;margin-top: 10px;">
    <mat-card-header>
      <mat-card-title>Ola! Eu sou o Rhyan!</mat-card-title>
      <mat-card-subtitle>Analise e desenvolvimento de sistemas</mat-card-subtitle>
    </mat-card-header>
  
  
    <mat-card-content>
      Sou apaixonado por jogos como COD, FOTNITE, ELDER RING entre outros... Comecei o curso para poder aprender mais sobre essa area.
    </mat-card-content>
    <mat-card-footer>
      <mat-card-content>
        Vem conhecer mais sobre aqui...
        
        <br>
        <div style="display: flex;flex-direction: column; gap: 5px;margin-top: 10px;">
          <a mat-raised-button href="https://www.instagram.com/rhyan.lemos/" target="_blank">Instagram
  
          </a>
  
          
          <a mat-raised-button href="https://www.linkedin.com/in/rhyan-lemos-silveira?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">Linkedin
    
          </a>
        </div>
    
      
     
  
      </mat-card-content>
    </mat-card-footer>
  </mat-card>
  
</div>
