<div style="display: flex; justify-content: center; gap: 15px;">

  <!-- Primeira Card -->
  <mat-card style="max-width: 400px;">
    <mat-card-header>
      <mat-card-title>Ola! Eu sou o Rhyan!</mat-card-title>
      <mat-card-subtitle>Curso: Sistema de Informação</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      Estudo na escola ****** Desde de 2020, e após a implementação no novo sistema na escola, ficou muito mais fácil tanto para os alunos quanto para os professores lançarem e acessarem notas, verificar cronogramas e eventos.
      Além de ter um suporte maior para a comunicação entre aluno, professor e coordenação, com certeza recomendo que outras escolas estudem e implementem esse novo sistema.
    </mat-card-content>

    <mat-card-footer>
      <mat-card-content>
        Venha conhecer mais sobre mim nas minhas redes sociais...
        <br>
        <div style="display: flex;flex-direction: column; gap: 5px;margin-top: 10px;">
          <a mat-raised-button href="https://www.instagram.com/rhyan.lemos/" target="_blank">Instagram</a>
          <a mat-raised-button href="https://www.linkedin.com/in/rhyan-lemos-silveira?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">LinkedIn</a>
          <a mat-raised-button href="https://github.com/rhyan05" target="_blank">GitHub</a>
        </div>
      </mat-card-content>
    </mat-card-footer>
  </mat-card>
  
  <!-- Segunda Card -->
  <mat-card style="max-width: 400px;">
    <mat-card-header>
      <mat-card-title>Olá! Eu sou o Diego</mat-card-title>
      <mat-card-subtitle>Curso: Professor especializado em Fullstack</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      Dou aula para a unviserdade ***** localizado na Bahia, trabalho a mais de 8 ano nessa universade, e das mais dos 3 sistema que ja foi contratado para resolver os problemas de organização dos alunos, esse foi de longe o mais efetivo e intuitivo.
      Coisas simples como lançar notas, que eu demorava semanas, agora consigo fazer tudo em menos de 5 dias, e isso sem contar a facilidade de atraibuir notas tambem as lições de casa.
      Se voce esta em duvida em qual sistema organizador escolher, escolhe este que, você nunca ira se arrepender
    </mat-card-content>

    <mat-card-footer>
      <mat-card-content>
        Venha conhecer mais sobre mim nas minhas redes sociais...
        <br>

      </mat-card-content>
    </mat-card-footer>
  </mat-card>
  
</div>
